{
    "arrowParens": "always",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "printWidth": 120,
    "quoteProps": "consistent",
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "singleAttributePerLine": true,
    "overrides": [
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2,
                "singleQuote": false
            }
        }
    ]
}
