@keyframes ej-seatmaps-seat-active {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 7;
    }
}

.ej-seatmaps-seat {
    cursor: default;
}

.ej-seatmaps-seat rect,
.ej-seatmaps-seat circle {
    stroke-width: 0.5;
    stroke: white;
}

.ej-seatmaps-seat--clickable {
    cursor: pointer;
}

.ej-seatmaps-seat--name-hidden .ej-seatmaps-seat__name {
    display: none;
}

.ej-seatmaps-seat--name-hidden:hover .ej-seatmaps-seat__name {
    display: block;
}

.ej-seatmaps-seat--active .ej-seatmaps-seat__name {
    display: block;
}

.ej-seatmaps-seat--active rect,
.ej-seatmaps-seat--active circle {
    stroke-dasharray: 3, 4;
    animation: ej-seatmaps-seat-active 1s linear infinite;
    stroke: black;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.ej-seatmaps-seat__name {
    font-family: sans-serif;
    font-size: 5px;
    text-anchor: middle;
    alignment-baseline: central;
    cursor: inherit;
    fill: white;
    dominant-baseline: mathematical;
    display: block;
}
